html,
body,
ul,
li,
div{
  margin: 0 auto;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
  list-style: none;
}

a:link, a:visited{
  color: white;
  text-decoration: none;
}

body{
  background: no-repeat center center fixed;
  background-image: url(http://i.imgur.com/orcAWUc.jpg);
  background-size: cover;
}

.navbar{
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 4px 6px rgba(10, 10, 0, 0.5);
  width: 100%;
  position: absolute;
  height: 5em;
  top: 0;
  z-index: 9999;
  -webkit-border-radius: 0px 0px 25px 25px;
  -moz-border-radius: 0px 0px 25px 25px;
  border-radius: 0px 0px 25px 25px;
}

.navbar .content{
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 2em;
  padding: 0 7em;
}

.navbar .content li{
  float: right;
  display: inline-block;
  margin-left: 1.5em;
  transition: text-decoration 0.1s ease;
}

.navbar .content li:hover{
  cursor: pointer;
  text-decoration: underline;
}

.navbar .content i{
  float: left;
}

.intro .content .masthead h1{
  width: 15.5%;
  margin: 7em auto 0 auto;
  font-family: 'Lato', Sans-serif;
  text-decoration: underline;
}

.intro .content .images li{
  width: 65%;
  margin: 2em auto 0 auto;
}

.intro .content .images img{
  box-shadow: 2px 2px 4px 6px rgba(10, 10, 0, 0.5);
}

.subfoot{
  line-height: 0.5;
  background: black;
  margin: 8em -0.5em -1em -0.5em;
}

.subfootHead{
  font: normal bold small-caps 1em/2 menu;
  color: white;
  text-align: center;
}

.credit{
  text-align: center;
  font: normal small-caps 0.5em/.5 menu;
  color: white;
}